Checks: >
    *,-clang-analyzer-alpha.*,-hicpp-*,
    -clang-diagnostic-ignored-optimization-argument,
    -altera-*,
    -abseil-*,
    -bugprone-macro-parentheses,
    -bugprone-narrowing-conversions,-cppcoreguidelines-narrowing-conversions,
    -llvmlibc-*,
    -modernize-concat-nested-namespaces,
    -modernize-loop-convert,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-macro-usage,
    -fuchsia-overloaded-operator,-fuchsia-default-arguments*,
    hicpp-avoid-goto,hicpp-exception-baseclass,hicpp-multiway-paths-covered,
    hicpp-no-assembler,hicpp-signed-bitwise,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -google-readability-casting,
    -google-readability-todo,
    -google-runtime-references,
    -hicpp-signed-bitwise,
    -llvm-header-guard,
    -llvm-include-order,
    -performance-noexcept-move-constructor,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-named-parameter,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers,
    -misc-non-private-member-variables-in-classes,
    -misc-confusable-identifiers
WarningsAsErrors: ''
HeaderFilterRegex: 'modmesh.*'
AnalyzeTemporaryDtors: false
FormatStyle: google
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: 'DECL_ST_*|SPACETIME_*|NPY_NO_DEPRECATED_API'
